/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.teamName {
  padding: 10px;
  font-size: 25px;
  max-width: 600px;
  margin: 0 auto;
  color: #212a3e;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Home page*/
#hp-container {
  display: flex;
  padding: 0 150px;
  margin-bottom: 150px;
}

.hp-intro1 {
  flex: 2;
  align-items: start;
  font-style: EuclidCircularA;
  color: #0c134f;
  margin: auto;
}

.hp-intro1 p {
  font-size: 50px;
  font-weight: bolder;
}

.hp-intro2 {
  flex: 3;
  padding: 50px;
}

.homeImg {
  width: 600px;
}
/*Home page done*/
/*Contact page*/
#contact-page {
  display: flex;
  padding: 30px 50px;
  margin-bottom: 110px;
}

.contact1 {
  flex: 1;
  margin: auto 50px;
}

.contact2 {
  flex: 2;
  margin: auto;
  padding: 0 150px;
}

/*Contact page done*/
/*Player page start*/
.webvtt-player {
  font-family: sans-serif;
  text-align: center;
  max-width: 800px;
  margin: 25px auto 130px auto;
  max-height: 1000px;
  padding-bottom: 20px;
}
.webvtt-player .active {
  background-color: #f6f1f1;
}

.webvtt-player .match {
  background-color: lightyellow;
}

.webvtt-player .line {
  padding: 5px;
  cursor: pointer;
}

.webvtt-player .time {
  width: 110px;
  float: left;
  font-size: 10pt;
  line-height: 14pt;
}

.webvtt-player .text {
  margin-left: 110px;
}
.webvtt-player .transcript {
  height: 90vh;
  padding: 10px;
  overflow-y: scroll;
}
.webvtt-player .media {
  width: 100%;
  border: thin solid #f6f1f1;
  margin-right: auto;
}

.webvtt-player audio {
  width: 100%;
  background-color: #f6f1f1;
}

.webvtt-player audio::-webkit-media-controls-panel {
  background-color: #f6f1f1;
}

.webvtt-player .controls {
  padding: 5px;
  text-align: center;
  vertical-align: text-top;
  background-color: #ccc;
}

.webvtt-player .seekBar {
  vertical-align: middle;
  width: 70%;
}
.search {
  border-top: thin solid #ccc;
  padding: 5px 5px 100px 5px;
  font-size: 14pt;
  margin-top: 5px;
}

.search .container {
  border: thin solid #ccc;
}

.search input {
  font-size: 12pt;
  border: none;
  width: 90%;
}

.search input:focus {
  outline: none;
}

.search .icon {
  padding-left: 5px;
  padding-right: 5px;
}
/*Player page done*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal {
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden;
  z-index: 1;
}

.subTitle {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  color: #f1356d;
  text-align: center;
}

.fileUploadForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 80%;
}

.field {
  align-items: center;
}

.field label {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

.field input,
.field textarea,
.field select {
  width: 200px;
}

.submit {
  padding: 20px;
}

.submit div {
  margin: 10px;
}

.submit button {
  background-color: #800d29;
  color: white;
  font-size: bold;
  padding: 5px 10px;
}
