/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.teamName {
  padding: 10px;
  font-size: 25px;
  max-width: 600px;
  margin: 0 auto;
  color: #212a3e;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Home page*/
#hp-container {
  display: flex;
  padding: 0 150px;
  margin-bottom: 150px;
}

.hp-intro1 {
  flex: 2;
  align-items: start;
  font-style: EuclidCircularA;
  color: #0c134f;
  margin: auto;
}

.hp-intro1 p {
  font-size: 50px;
  font-weight: bolder;
}

.hp-intro2 {
  flex: 3;
  padding: 50px;
}

.homeImg {
  width: 600px;
}
/*Home page done*/
/*Contact page*/
#contact-page {
  display: flex;
  padding: 30px 50px;
  margin-bottom: 110px;
}

.contact1 {
  flex: 1;
  margin: auto 50px;
}

.contact2 {
  flex: 2;
  margin: auto;
  padding: 0 150px;
}

/*Contact page done*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal {
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden;
  z-index: 1;
}

.subTitle {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  color: #f1356d;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 80%;
}

.field {
  align-items: center;
}

.field label {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

.field input,
.field textarea,
.field select {
  width: 200px;
}

.submit {
  padding: 20px;
}

.submit div {
  margin: 10px;
}

.submit button {
  background-color: #800d29;
  color: white;
  font-size: bold;
  padding: 5px 10px;
}
